<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="UTF-8"/>
  <link th:href="@{/css-and-js/style/login.css}" rel="stylesheet"/>
</head>
<body>
  <header class="app-header">
    <h1>Student Records</h1>
  </header>

  <div class="login-wrapper">
    <h2>Login Page</h2>
    <form th:action="@{/login}"
          method="post"
          id="loginForm"
          novalidate>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" /><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" /><br><br>
      <button type="submit">Login</button>
    </form>
    <p th:if="${param.error}">Invalid username or password</p>
    <p th:if="${param.logout}">You have been logged out</p>
  </div>

  <script th:src="@{/css-and-js/js/login.js}"></script>
</body>
</html>
